:root {
    --borderPadding: 8px;
}

body {
    background: url("assets/background.png");
    background-size: 128px;
    image-rendering: pixelated;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--borderPadding);
    height: calc(100dvh - var(--borderPadding) * 2);
}

.preview {
    padding: 16px;
    margin-bottom: 16px;
    outline-width: 16px;
    outline-style: solid;
    border: none;
    font-size: 56px;
    font-family: Minecraftia, serif;
}